/* LoginPage.css */
.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
  }
  
  .Login h2 {
    margin-bottom: 20px;
  }
  
  .Login form {
    width: 100%;
    max-width: 400px;
  }
  
  .Login form .form-group {
    margin-bottom: 15px;
  }
  
  .Login form button {
    width: 100%;
  }
  
  .Login div {
    margin-top: 10px;
  }
  