/* Styles globaux */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

header a:hover {
  color: #61dafb;
}

/* Styles pour centrer et aligner les champs de formulaire */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea,
select,
button {
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
}

/* Styles pour les formations */
.training-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  background-color: #f0f4f8; /* Couleur d'arrière-plan pour les grilles de formation */
}

.training-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Styles pour les boutons */
.edit-btn,
.delete-btn,
.join-btn,
.save-btn,
.cancel-btn {
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.edit-btn {
  background-color: #61dafb;
}

.delete-btn {
  background-color: #f44336;
}

.join-btn {
  background-color: #4caf50;
}

.save-btn {
  background-color: #4caf50;
}

.cancel-btn {
  background-color: #f44336;
}

.enroll-btn {
  background-color: #3f51b5;
  color: white;
}

.withdraw-btn {
  background-color: #ff9800;
  color: white;
}

.edit-btn:hover,
.delete-btn:hover,
.join-btn:hover,
.save-btn:hover,
.cancel-btn:hover {
  opacity: 0.9;
}

/* Styles pour résoudre le problème du formulaire qui se mélange */
.button-container {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.editing {
  flex-direction: row;
}
